@import '../../global/refs.scss';

.item-container {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  width: 480px;
  height: 360px;
  margin: 40px 40px;

  img {
    object-fit: cover;
    width: 100%;
    height: 65%;
  }

  .information-container {
    position: absolute;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    bottom: 0;

    .description {
      width: 90%;

      p {
        margin: 10px 0 10px 0;
      }

      .product-name {
        justify-content: center;
        text-align: center;
      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
  
      .tags {
        display: flex;
        color: gray;

        p {
          margin: 10px;
        }
      }

      button {
        cursor: pointer;
        border-radius: 20px;
        background-color: red;
        color: white;
        padding: 8px;
        border: none;
      }
    }
  }
}

